body {
    background: black;
}

#title, .subtitle, .posttitle {
    color: white;
}

#title {
    text-decoration: underline;
}

.posttitle {
    color: purple;
    font-size: 20px;
    font-style: bold;
    margin: 0;
}  

html, body {
  height: 100%;
  width: 100%;
}

.article { 
    background: white;
    padding: 15px; 
    border:  5px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
}

.content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-seri;
    color: #000; 
    margin: 0;
    margin-bottom: 15px; 
}

.post_header {
    height: 95%;
    width: 95%;
    margin-bottom: 15px; 
}

.photo {
    height: 20%;
    width: 20%;
    border: 1px solid #000;
    border-radius: 50%;
}

.footer {
    border: 5px solid whitesmoke;
    border-radius: 5px;
    background: lightgoldenrodyellow; 
    color: black;
}